<p class="text-center fs-3" [ngClass]="iscreated ? 'text-success pb-1' : 'text-danger pb-1'">
    {{ displaymsg }}
</p>


<div class="account section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="login-form border p-5">
                    <div class="text-center heading">
                        <h2 class="mb-2">Sign Up</h2>
                        <p class="lead">Already have an account? <a routerLink="/login"> Login now</a></p>
                    </div>

                    <form (ngSubmit)="signup()" [formGroup]="registerform">
                        <div class="form-group mb-4">
                            <label for="#">Enter Email Address</label>
                            <input type="text" class="form-control" placeholder="Enter Email Address" id="email"
                                formControlName="email">
                        </div>
                        <div class="form-group mb-4">
                            <label for="#">Enter username</label>
                            <input type="text" class="form-control" placeholder="Enter Username" id="user"
                                formControlName="username">
                        </div>
                        <div class="form-group mb-4">
                            <label for="#">Enter Password</label>
                            <input type="text" class="form-control" placeholder="Enter Password" id="password"
                                formControlName="pwd">
                        </div>
                        <div class="form-group">
                            <label for="#">Confirm Password</label>
                            <input type="text" class="form-control" placeholder="Confirm Password" id="rpass"
                                formControlName="rpwd">
                        </div>

                        <button type="submit" class="btn btn-main mt-3 btn-block">Signup</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>